@media screen and (max-width:425px){
	 header{
	 	width: 100%;
	 }

.nav-list{
  width: 100%;
}
.nav-list-item{
  width: 100%;
  margin: 0 0 10px 0;
}

.social{
  display: none;
}

main{
  width: 100%;
}

.main-visual-content{
  width: 100%;
}

.blog{
  width: 100%;
  margin: 0;
}

.blog-image{
  width: 49%;
}

.blog-text{
  width: 49%;
  padding-top: 5px;
}

.sidebar{
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  /* float: none; */
}

.instagram-box{
  width: 48%;
  padding-top: 48%;
}

.instagram-box:nth-child(odd){
margin-right: 4%;
}

.pagination{
  margin-bottom: 50px;
}

}
